<section class='main'>
  {{ev-title title='Overview'}}
  <ul>
    <li>Performs validation on ember object.</li>
    <li>Provides facility to perform validation on submit or focus out.</li>
    <li>Provides facility to perform validation when user starts typing, based on computed property rather using observer.</li>
    <li>Returns validation result as promise.</li>
    <li>Provides facility to return result as regular object rather than promise.</li>
    <li>Supports nested property validation.</li>
    <li>Conditional Validations.</li>
    <li>Conditional Validations for property as well individual validation rules.</li>
  </ul>

  <h2>Installation</h2>
  <pre><code>
    "devDependencies": {
      ...
      "ember-validator": "2.0.0"
    }

  </code></pre>

  <h2>Installation</h2>
  <p>If you find a bug or need help <a href="https://github.com/anandts88/ember-validator/issues" target="_blank">please open an issue on our Github</a>.</p>

  <h2>Repositories</h2>
  <ul>
    <li><a href="https://github.com/anandts88/ember-validator" target="_blank">ember-validator</a></li>
    <li><a href="https://github.com/anandts88/ember-validator-example" target="_blank">Demo and documentation</a></li>
  </ul>
</section>
